In [41]:
import pandas as pd
import numpy as np
import catboost as cb

In [42]:
def get_next_month(date: str) -> str:
    return str(pd.Period(date, freq="M") + 1)

## Cleanup the data

In [43]:
df = pd.read_csv('training.csv')

sub = pd.read_csv('sub1.csv')

sub = sub.set_index('id', drop=False)

df = df.drop_duplicates(subset='id', keep='first')
df = df[ ['id'] ]

# df[ 'revenue_next_month' ] = 0.0
# df[ 'is_active' ] = 0

In [44]:
df

            id
0            1
2            2
3            3
5            4
7            5
...        ...
224123  133670
224125  133671
224126  133672
224128  133673
224129  133674

[133674 rows x 1 columns]

In [45]:
import math

def process_is_active(row):
    try:
        sub_row = sub.loc[ (row['id']) ]

        return int(sub_row[ 'is_active_next_month' ])
    except:
        return 0

def process_revenue(row):
    try:
        sub_row = sub.loc[ (row['id']) ]

        row[ 'is_active' ] = int(sub_row[ 'is_active_next_month' ])

        if sub_row[ 'is_active_next_month' ]:
            return max(0, sub_row['revenue_next_month']) + max(0, sub_row['ads_revenue_next_month'])
        else:
            return 0
    except:
        return 0.0

df[ 'next_month_revenue'] = df.apply(process_revenue, axis=1)
df[ 'is_active'] = df.apply(process_is_active, axis=1)

In [46]:
df

            id  next_month_revenue  is_active
0            1                 0.0          0
2            2                 0.0          0
3            3                 0.0          0
5            4                 0.0          0
7            5                 0.0          0
...        ...                 ...        ...
224123  133670                 0.0          0
224125  133671                 0.0          0
224126  133672                 0.0          0
224128  133673                 0.0          0
224129  133674                 0.0          0

[133674 rows x 3 columns]

In [47]:
df.to_csv('submission1.csv', index=False)