In [96]:
import pandas as pd
import numpy as np
import catboost as cb
import os
from pathlib import Path

In [97]:
script_dir = Path.cwd()

In [98]:
__get_next_month = {}

def get_next_month(date: str) -> str:
    if date in __get_next_month:
        return __get_next_month[date]
    else:
        next = __get_next_month[date] = str(pd.Period(date, freq="M") + 1)

        return next

## Cleanup the data

In [99]:
df_raw = pd.read_csv('task_g/history.csv')

df = df_raw.drop(columns=['ads_shown_current_day', 'ads_revenue_current_day'])

df = df.sort_values('id', ascending=True)

df = df.drop_duplicates(subset=['id', 'current_month'], keep='first')

df.reset_index(drop=True, inplace=True)

df = df.set_index(['id', 'current_month'], drop=False)

df.sort_index()

                          id  logins_current_month  country traffic_type  \
id     current_month
1      2024-07             1                    13       81         paid
       2024-09             1                     1       81         paid
2      2024-10             2                     1      193         paid
3      2024-12             3                     7      180         paid
       2025-01             3                     2      180         paid
...                      ...                   ...      ...          ...
133672 2025-01        133672                     2      173         paid
133673 2024-10        133673                    14       49         paid
133674 2024-07        133674                     2      208         paid
       2024-11        133674                     3      208         paid
       2025-01        133674                     1      208         paid

                     platform registration_date  ads_shown_current_month  \
id     current_month
1      2024-07            iOS        2024-06-13                      100
       2024-09            iOS        2024-06-13                        1
2      2024-10        Android        2024-06-01                        0
3      2024-12        Android        2024-12-12                        0
       2025-01        Android        2024-12-12                        0
...                       ...               ...                      ...
133672 2025-01        Android        2024-12-26                        0
133673 2024-10        Android        2024-10-11                       32
133674 2024-07        Android        2024-05-08                        2
       2024-11        Android        2024-05-08                        0
       2025-01        Android        2024-05-08                        0

                      ads_revenue_current_month  revenue_current_month  \
id     current_month
1      2024-07                        21.373946               23.33529
       2024-09                         0.867439                8.87251
2      2024-10                         0.000000                0.00000
3      2024-12                         0.000000                0.00000
       2025-01                         0.000000                0.00000
...                                         ...                    ...
133672 2025-01                         0.000000                0.00000
133673 2024-10                         0.042859                0.00000
133674 2024-07                         0.137498                0.00000
       2024-11                         0.000000                0.00000
       2025-01                         0.000000                0.00000

                      games_pvp  ...  offers  currency_1  currency_2  \
id     current_month             ...
1      2024-07              265  ...       0       37845         730
       2024-09               18  ...       0           0           0
2      2024-10                0  ...       0           0           0
3      2024-12               26  ...       0           0           0
       2025-01                1  ...       0           0           0
...                         ...  ...     ...         ...         ...
133672 2025-01                9  ...       0           0           0
133673 2024-10              161  ...       0           0           0
133674 2024-07                5  ...       0           0           0
       2024-11                7  ...       0           0           0
       2025-01                0  ...       0           0           0

                      currency_3  currency_4  currency_5  currency_6  \
id     current_month
1      2024-07                30          26           0           0
       2024-09                 0           0           0           0
2      2024-10                 0           0           0           0
3      2024-12                 0           0           0           0
       2025-01                 0           0           0           0
...                          ...         ...         ...         ...
133672 2025-01                 0           0           0           0
133673 2024-10                 0           0           0           0
133674 2024-07                 0           0           0           0
       2024-11                 0           0           0           0
       2025-01                 0           0           0           0

                      currency_7  current_avg_ping  current_month
id     current_month
1      2024-07                 0          0.275935        2024-07
       2024-09                 0          0.263144        2024-09
2      2024-10                 0          0.000000        2024-10
3      2024-12                 0          0.430013        2024-12
       2025-01                 0          0.374937        2025-01
...                          ...               ...            ...
133672 2025-01                 0          0.223729        2025-01
133673 2024-10                 0          0.359385        2024-10
133674 2024-07                 0          0.151158        2024-07
       2024-11                 0          0.227887        2024-11
       2025-01                 0          0.000000        2025-01

[224132 rows x 24 columns]

In [100]:
# df[ df['current_month'] == '2025-04']

df

                          id  logins_current_month  country traffic_type  \
id     current_month
1      2024-07             1                    13       81         paid
       2024-09             1                     1       81         paid
2      2024-10             2                     1      193         paid
3      2024-12             3                     7      180         paid
       2025-01             3                     2      180         paid
...                      ...                   ...      ...          ...
133672 2025-01        133672                     2      173         paid
133673 2024-10        133673                    14       49         paid
133674 2025-01        133674                     1      208         paid
       2024-07        133674                     2      208         paid
       2024-11        133674                     3      208         paid

                     platform registration_date  ads_shown_current_month  \
id     current_month
1      2024-07            iOS        2024-06-13                      100
       2024-09            iOS        2024-06-13                        1
2      2024-10        Android        2024-06-01                        0
3      2024-12        Android        2024-12-12                        0
       2025-01        Android        2024-12-12                        0
...                       ...               ...                      ...
133672 2025-01        Android        2024-12-26                        0
133673 2024-10        Android        2024-10-11                       32
133674 2025-01        Android        2024-05-08                        0
       2024-07        Android        2024-05-08                        2
       2024-11        Android        2024-05-08                        0

                      ads_revenue_current_month  revenue_current_month  \
id     current_month
1      2024-07                        21.373946               23.33529
       2024-09                         0.867439                8.87251
2      2024-10                         0.000000                0.00000
3      2024-12                         0.000000                0.00000
       2025-01                         0.000000                0.00000
...                                         ...                    ...
133672 2025-01                         0.000000                0.00000
133673 2024-10                         0.042859                0.00000
133674 2025-01                         0.000000                0.00000
       2024-07                         0.137498                0.00000
       2024-11                         0.000000                0.00000

                      games_pvp  ...  offers  currency_1  currency_2  \
id     current_month             ...
1      2024-07              265  ...       0       37845         730
       2024-09               18  ...       0           0           0
2      2024-10                0  ...       0           0           0
3      2024-12               26  ...       0           0           0
       2025-01                1  ...       0           0           0
...                         ...  ...     ...         ...         ...
133672 2025-01                9  ...       0           0           0
133673 2024-10              161  ...       0           0           0
133674 2025-01                0  ...       0           0           0
       2024-07                5  ...       0           0           0
       2024-11                7  ...       0           0           0

                      currency_3  currency_4  currency_5  currency_6  \
id     current_month
1      2024-07                30          26           0           0
       2024-09                 0           0           0           0
2      2024-10                 0           0           0           0
3      2024-12                 0           0           0           0
       2025-01                 0           0           0           0
...                          ...         ...         ...         ...
133672 2025-01                 0           0           0           0
133673 2024-10                 0           0           0           0
133674 2025-01                 0           0           0           0
       2024-07                 0           0           0           0
       2024-11                 0           0           0           0

                      currency_7  current_avg_ping  current_month
id     current_month
1      2024-07                 0          0.275935        2024-07
       2024-09                 0          0.263144        2024-09
2      2024-10                 0          0.000000        2024-10
3      2024-12                 0          0.430013        2024-12
       2025-01                 0          0.374937        2025-01
...                          ...               ...            ...
133672 2025-01                 0          0.223729        2025-01
133673 2024-10                 0          0.359385        2024-10
133674 2025-01                 0          0.000000        2025-01
       2024-07                 0          0.151158        2024-07
       2024-11                 0          0.227887        2024-11

[224132 rows x 24 columns]

In [101]:
# # check multiplied entries (same id + current_month)
#
# grouped = df.groupby([ 'id', 'current_month' ], as_index=False).agg(ids = ('id', 'count'))
#
# grouped[ grouped[ 'ids' ] > 1 ]

In [102]:
# add training data
def ads_revenue_next_month(row):
    key = (row['id'], get_next_month(row[ 'current_month' ]))
    if key in df.index:
        next_row = df.loc[ key ]

        return next_row[ 'ads_revenue_current_month' ]
    else:
        return 0

def revenue_next_month(row):
    key = (row['id'], get_next_month(row[ 'current_month' ]))
    if key in df.index:
        next_row = df.loc[ key ]

        return next_row[ 'revenue_current_month' ]
    else:
        return 0

def is_active_next_month(row):
    key = (row['id'], get_next_month(row[ 'current_month' ]))
    if key in df.index:
        next_row = df.loc[ key ]

        return next_row[ 'logins_current_month' ] > 0
    else :
        return False

df[ 'ads_revenue_next_month' ] = df.apply(ads_revenue_next_month, axis=1)
df[ 'revenue_next_month' ] = df.apply(revenue_next_month, axis=1)
df[ 'log_ads_revenue_next_month' ] = np.log1p(df[ 'ads_revenue_next_month' ])
df[ 'log_revenue_next_month' ] = np.log1p(df[ 'revenue_next_month' ])
df[ 'is_active_next_month' ] = df.apply(is_active_next_month, axis=1)

In [103]:
df[ 'months_after_reg' ] = df.apply(lambda row: (pd.Period(row[ 'current_month' ], freq="M") - pd.Period(row[ 'registration_date' ], freq="M")).n, axis=1)
df.drop(columns='registration_date', inplace=True)

In [104]:
df

                          id  logins_current_month  country traffic_type  \
id     current_month
1      2024-07             1                    13       81         paid
       2024-09             1                     1       81         paid
2      2024-10             2                     1      193         paid
3      2024-12             3                     7      180         paid
       2025-01             3                     2      180         paid
...                      ...                   ...      ...          ...
133672 2025-01        133672                     2      173         paid
133673 2024-10        133673                    14       49         paid
133674 2025-01        133674                     1      208         paid
       2024-07        133674                     2      208         paid
       2024-11        133674                     3      208         paid

                     platform  ads_shown_current_month  \
id     current_month
1      2024-07            iOS                      100
       2024-09            iOS                        1
2      2024-10        Android                        0
3      2024-12        Android                        0
       2025-01        Android                        0
...                       ...                      ...
133672 2025-01        Android                        0
133673 2024-10        Android                       32
133674 2025-01        Android                        0
       2024-07        Android                        2
       2024-11        Android                        0

                      ads_revenue_current_month  revenue_current_month  \
id     current_month
1      2024-07                        21.373946               23.33529
       2024-09                         0.867439                8.87251
2      2024-10                         0.000000                0.00000
3      2024-12                         0.000000                0.00000
       2025-01                         0.000000                0.00000
...                                         ...                    ...
133672 2025-01                         0.000000                0.00000
133673 2024-10                         0.042859                0.00000
133674 2025-01                         0.000000                0.00000
       2024-07                         0.137498                0.00000
       2024-11                         0.000000                0.00000

                      games_pvp  wins_pvp  ...  currency_6  currency_7  \
id     current_month                       ...
1      2024-07              265       205  ...           0           0
       2024-09               18         7  ...           0           0
2      2024-10                0         0  ...           0           0
3      2024-12               26        20  ...           0           0
       2025-01                1         0  ...           0           0
...                         ...       ...  ...         ...         ...
133672 2025-01                9         2  ...           0           0
133673 2024-10              161        90  ...           0           0
133674 2025-01                0         0  ...           0           0
       2024-07                5         1  ...           0           0
       2024-11                7         1  ...           0           0

                      current_avg_ping  current_month  ads_revenue_next_month  \
id     current_month
1      2024-07                0.275935        2024-07                     0.0
       2024-09                0.263144        2024-09                     0.0
2      2024-10                0.000000        2024-10                     0.0
3      2024-12                0.430013        2024-12                     0.0
       2025-01                0.374937        2025-01                     0.0
...                                ...            ...                     ...
133672 2025-01                0.223729        2025-01                     0.0
133673 2024-10                0.359385        2024-10                     0.0
133674 2025-01                0.000000        2025-01                     0.0
       2024-07                0.151158        2024-07                     0.0
       2024-11                0.227887        2024-11                     0.0

                      revenue_next_month  log_ads_revenue_next_month  \
id     current_month
1      2024-07                       0.0                         0.0
       2024-09                       0.0                         0.0
2      2024-10                       0.0                         0.0
3      2024-12                       0.0                         0.0
       2025-01                       0.0                         0.0
...                                  ...                         ...
133672 2025-01                       0.0                         0.0
133673 2024-10                       0.0                         0.0
133674 2025-01                       0.0                         0.0
       2024-07                       0.0                         0.0
       2024-11                       0.0                         0.0

                      log_revenue_next_month  is_active_next_month  \
id     current_month
1      2024-07                           0.0                 False
       2024-09                           0.0                 False
2      2024-10                           0.0                 False
3      2024-12                           0.0                  True
       2025-01                           0.0                 False
...                                      ...                   ...
133672 2025-01                           0.0                 False
133673 2024-10                           0.0                 False
133674 2025-01                           0.0                 False
       2024-07                           0.0                 False
       2024-11                           0.0                 False

                      months_after_reg
id     current_month
1      2024-07                       1
       2024-09                       3
2      2024-10                       4
3      2024-12                       0
       2025-01                       1
...                                ...
133672 2025-01                       1
133673 2024-10                       0
133674 2025-01                       8
       2024-07                       2
       2024-11                       6

[224132 rows x 29 columns]

# Чистка данных

In [105]:
def outliers_robust_z(s: pd.Series, k: float = 3.5) -> pd.Index:
    m = s.median(skipna=True)
    mad = (s - m).abs().median(skipna=True)                       # median{|x_t - m|}
    if mad == 0 or not np.isfinite(mad):
        return pd.Index([])
    sigma_hat = 1.4826 * mad
    z = (s - m) / sigma_hat
    return s.index[z.abs() > k]

In [106]:
df = df.copy()

df['log_revenue_current_month'] = np.log1p(df['revenue_current_month'])
df['log_ads_revenue_current_month'] = np.log1p(df['ads_revenue_current_month'])

In [107]:
df[ df['current_month'] == '2025-04' ].to_csv('task_g/predict.csv')

df = df[ df['current_month'] != '2025-04' ]

In [108]:
has_revenue_next_month = df[df['revenue_next_month'] > 0]

has_revenue_next_month

                          id  logins_current_month  country traffic_type  \
id     current_month
10     2025-03            10                    13      164         paid
59     2024-09            59                     3       50      organic
78     2024-07            78                    31      153         paid
211    2024-07           211                    29      106         paid
244    2024-10           244                     7      180         paid
...                      ...                   ...      ...          ...
133485 2024-09        133485                    10       71         paid
133497 2025-03        133497                     2      112         paid
133538 2024-08        133538                    11      112      organic
       2024-09        133538                    22      112      organic
133555 2024-08        133555                     4      106         paid

                     platform  ads_shown_current_month  \
id     current_month
10     2025-03            iOS                      247
59     2024-09            iOS                        7
78     2024-07        Android                       75
211    2024-07        Android                       65
244    2024-10        Android                       21
...                       ...                      ...
133485 2024-09        Android                      109
133497 2025-03            iOS                       32
133538 2024-08            iOS                       11
       2024-09            iOS                        2
133555 2024-08        Android                       54

                      ads_revenue_current_month  revenue_current_month  \
id     current_month
10     2025-03                        13.075025              55.007869
59     2024-09                         0.072389               0.000000
78     2024-07                         1.055468               0.000000
211    2024-07                         1.056081               1.393000
244    2024-10                         0.670987               0.000000
...                                         ...                    ...
133485 2024-09                         4.776956               0.000000
133497 2025-03                         1.479628               3.222924
133538 2024-08                         3.949728               6.532887
       2024-09                         2.066304             107.834951
133555 2024-08                         2.304838               0.693000

                      games_pvp  wins_pvp  ...  current_avg_ping  \
id     current_month                       ...
10     2025-03              314       191  ...          0.041453
59     2024-09               34        25  ...          0.267038
78     2024-07              187       107  ...          0.408551
211    2024-07               92        73  ...          0.555761
244    2024-10              144        93  ...          0.319014
...                         ...       ...  ...               ...
133485 2024-09              226       128  ...          0.351959
133497 2025-03               82        53  ...          0.298862
133538 2024-08              104        74  ...          0.324780
       2024-09              206       127  ...          0.351636
133555 2024-08              178       117  ...          0.384424

                      current_month  ads_revenue_next_month  \
id     current_month
10     2025-03              2025-03               26.512756
59     2024-09              2024-09                0.336345
78     2024-07              2024-07                1.619926
211    2024-07              2024-07                0.330513
244    2024-10              2024-10                0.654616
...                             ...                     ...
133485 2024-09              2024-09               13.794182
133497 2025-03              2025-03               15.251650
133538 2024-08              2024-08                2.066304
       2024-09              2024-09                0.000000
133555 2024-08              2024-08                4.532458

                      revenue_next_month  log_ads_revenue_next_month  \
id     current_month
10     2025-03                121.358247                    3.314650
59     2024-09                  0.580000                    0.289938
78     2024-07                  1.386000                    0.963146
211    2024-07                  0.693000                    0.285565
244    2024-10                  0.693000                    0.503569
...                                  ...                         ...
133485 2024-09                  3.479000                    2.694234
133497 2025-03                 19.098080                    2.788194
133538 2024-08                107.834951                    1.120473
       2024-09                148.742129                    0.000000
133555 2024-08                  1.386000                    1.710632

                      log_revenue_next_month  is_active_next_month  \
id     current_month
10     2025-03                      4.806953                  True
59     2024-09                      0.457425                  True
78     2024-07                      0.869618                  True
211    2024-07                      0.526502                  True
244    2024-10                      0.526502                  True
...                                      ...                   ...
133485 2024-09                      1.499400                  True
133497 2025-03                      3.000624                  True
133538 2024-08                      4.689833                  True
       2024-09                      5.008915                  True
133555 2024-08                      0.869618                  True

                      months_after_reg  log_revenue_current_month  \
id     current_month
10     2025-03                       0                   4.025492
59     2024-09                       0                   0.000000
78     2024-07                       3                   0.000000
211    2024-07                       5                   0.872548
244    2024-10                       0                   0.000000
...                                ...                        ...
133485 2024-09                       0                   0.000000
133497 2025-03                       0                   1.440528
133538 2024-08                       0                   2.019278
       2024-09                       1                   4.689833
133555 2024-08                       0                   0.526502

                      log_ads_revenue_current_month
id     current_month
10     2025-03                             2.644402
59     2024-09                             0.069889
78     2024-07                             0.720504
211    2024-07                             0.720802
244    2024-10                             0.513415
...                                             ...
133485 2024-09                             1.753877
133497 2025-03                             0.908109
133538 2024-08                             1.599333
       2024-09                             1.120473
133555 2024-08                             1.195388

[10389 rows x 31 columns]

In [109]:
outliers_rev_next_month = outliers_robust_z(has_revenue_next_month['log_revenue_next_month'], k=3)
outliers_rev_next_month

MultiIndex([(  2428, '2025-03'),
            (  2977, '2024-08'),
            (  7312, '2025-02'),
            ( 18162, '2025-03'),
            ( 19057, '2024-08'),
            ( 24064, '2025-02'),
            ( 24064, '2025-03'),
            ( 33449, '2025-02'),
            ( 33449, '2025-01'),
            ( 34546, '2025-03'),
            ( 37626, '2025-01'),
            ( 37626, '2025-02'),
            ( 48281, '2024-12'),
            ( 48281, '2025-02'),
            ( 48281, '2025-03'),
            ( 48281, '2025-01'),
            ( 54894, '2025-02'),
            ( 58421, '2025-02'),
            ( 58421, '2025-03'),
            ( 76078, '2024-08'),
            ( 79530, '2024-09'),
            ( 79530, '2024-10'),
            ( 80542, '2024-10'),
            ( 80542, '2025-02'),
            ( 80542, '2024-09'),
            ( 80542, '2025-03'),
            ( 83374, '2024-08'),
            ( 84500, '2024-09'),
            ( 84695, '2024-09'),
            ( 88849, '2025-01'),
            ( 88849, '2025-02'),
            ( 95343, '2025-03'),
            (100797, '2024-07'),
            (101621, '2024-08'),
            (109037, '2025-03'),
            (109740, '2024-09'),
            (109740, '2024-08'),
            (112599, '2024-12'),
            (112599, '2025-01'),
            (112986, '2024-12'),
            (112986, '2025-03'),
            (112986, '2025-02'),
            (112986, '2025-01'),
            (125116, '2025-03'),
            (127750, '2025-02'),
            (128250, '2024-10'),
            (128250, '2024-09')],
           names=['id', 'current_month'])

In [110]:
clean1 = df#.drop(outliers_rev_next_month)

clean1

                          id  logins_current_month  country traffic_type  \
id     current_month
1      2024-07             1                    13       81         paid
       2024-09             1                     1       81         paid
2      2024-10             2                     1      193         paid
3      2024-12             3                     7      180         paid
       2025-01             3                     2      180         paid
...                      ...                   ...      ...          ...
133672 2025-01        133672                     2      173         paid
133673 2024-10        133673                    14       49         paid
133674 2025-01        133674                     1      208         paid
       2024-07        133674                     2      208         paid
       2024-11        133674                     3      208         paid

                     platform  ads_shown_current_month  \
id     current_month
1      2024-07            iOS                      100
       2024-09            iOS                        1
2      2024-10        Android                        0
3      2024-12        Android                        0
       2025-01        Android                        0
...                       ...                      ...
133672 2025-01        Android                        0
133673 2024-10        Android                       32
133674 2025-01        Android                        0
       2024-07        Android                        2
       2024-11        Android                        0

                      ads_revenue_current_month  revenue_current_month  \
id     current_month
1      2024-07                        21.373946               23.33529
       2024-09                         0.867439                8.87251
2      2024-10                         0.000000                0.00000
3      2024-12                         0.000000                0.00000
       2025-01                         0.000000                0.00000
...                                         ...                    ...
133672 2025-01                         0.000000                0.00000
133673 2024-10                         0.042859                0.00000
133674 2025-01                         0.000000                0.00000
       2024-07                         0.137498                0.00000
       2024-11                         0.000000                0.00000

                      games_pvp  wins_pvp  ...  current_avg_ping  \
id     current_month                       ...
1      2024-07              265       205  ...          0.275935
       2024-09               18         7  ...          0.263144
2      2024-10                0         0  ...          0.000000
3      2024-12               26        20  ...          0.430013
       2025-01                1         0  ...          0.374937
...                         ...       ...  ...               ...
133672 2025-01                9         2  ...          0.223729
133673 2024-10              161        90  ...          0.359385
133674 2025-01                0         0  ...          0.000000
       2024-07                5         1  ...          0.151158
       2024-11                7         1  ...          0.227887

                      current_month  ads_revenue_next_month  \
id     current_month
1      2024-07              2024-07                     0.0
       2024-09              2024-09                     0.0
2      2024-10              2024-10                     0.0
3      2024-12              2024-12                     0.0
       2025-01              2025-01                     0.0
...                             ...                     ...
133672 2025-01              2025-01                     0.0
133673 2024-10              2024-10                     0.0
133674 2025-01              2025-01                     0.0
       2024-07              2024-07                     0.0
       2024-11              2024-11                     0.0

                      revenue_next_month  log_ads_revenue_next_month  \
id     current_month
1      2024-07                       0.0                         0.0
       2024-09                       0.0                         0.0
2      2024-10                       0.0                         0.0
3      2024-12                       0.0                         0.0
       2025-01                       0.0                         0.0
...                                  ...                         ...
133672 2025-01                       0.0                         0.0
133673 2024-10                       0.0                         0.0
133674 2025-01                       0.0                         0.0
       2024-07                       0.0                         0.0
       2024-11                       0.0                         0.0

                      log_revenue_next_month  is_active_next_month  \
id     current_month
1      2024-07                           0.0                 False
       2024-09                           0.0                 False
2      2024-10                           0.0                 False
3      2024-12                           0.0                  True
       2025-01                           0.0                 False
...                                      ...                   ...
133672 2025-01                           0.0                 False
133673 2024-10                           0.0                 False
133674 2025-01                           0.0                 False
       2024-07                           0.0                 False
       2024-11                           0.0                 False

                      months_after_reg  log_revenue_current_month  \
id     current_month
1      2024-07                       1                   3.191928
       2024-09                       3                   2.289754
2      2024-10                       4                   0.000000
3      2024-12                       0                   0.000000
       2025-01                       1                   0.000000
...                                ...                        ...
133672 2025-01                       1                   0.000000
133673 2024-10                       0                   0.000000
133674 2025-01                       8                   0.000000
       2024-07                       2                   0.000000
       2024-11                       6                   0.000000

                      log_ads_revenue_current_month
id     current_month
1      2024-07                             3.107897
       2024-09                             0.624568
2      2024-10                             0.000000
3      2024-12                             0.000000
       2025-01                             0.000000
...                                             ...
133672 2025-01                             0.000000
133673 2024-10                             0.041966
133674 2025-01                             0.000000
       2024-07                             0.128831
       2024-11                             0.000000

[196882 rows x 31 columns]

In [111]:
has_ads_revenue_next_month = clean1[clean1['ads_revenue_next_month'] > 0]
has_ads_revenue_next_month

                          id  logins_current_month  country traffic_type  \
id     current_month
4      2024-12             4                    22      106         paid
6      2025-01             6                    11      133      organic
       2025-02             6                    27      133      organic
       2025-03             6                    31      133      organic
8      2024-12             8                     6       46         paid
...                      ...                   ...      ...          ...
133649 2025-01        133649                    11      153      organic
133658 2024-07        133658                    24       86         paid
133659 2024-07        133659                    12      153         paid
133661 2024-12        133661                    10      112      organic
133670 2025-01        133670                     7       81         paid

                     platform  ads_shown_current_month  \
id     current_month
4      2024-12        Android                       11
6      2025-01        Android                       47
       2025-02        Android                      146
       2025-03        Android                      163
8      2024-12        Android                      112
...                       ...                      ...
133649 2025-01        Android                       26
133658 2024-07        Android                     1067
133659 2024-07        Android                       28
133661 2024-12            iOS                       52
133670 2025-01            iOS                       31

                      ads_revenue_current_month  revenue_current_month  \
id     current_month
4      2024-12                         0.077312                  0.000
6      2025-01                         0.000000                  0.000
       2025-02                         0.036284                  0.000
       2025-03                         0.106053                  0.000
8      2024-12                         0.108613                  0.000
...                                         ...                    ...
133649 2025-01                         0.068609                  0.000
133658 2024-07                         3.436036                  1.386
133659 2024-07                         0.015844                  0.000
133661 2024-12                         1.721284                  0.000
133670 2025-01                         2.174221                  0.000

                      games_pvp  wins_pvp  ...  current_avg_ping  \
id     current_month                       ...
4      2024-12              266       140  ...          0.396413
6      2025-01              145        71  ...          0.345713
       2025-02              385       186  ...          0.256913
       2025-03              246       125  ...          0.270871
8      2024-12              173       103  ...          0.397109
...                         ...       ...  ...               ...
133649 2025-01               62        41  ...          0.374875
133658 2024-07              728       485  ...          0.376249
133659 2024-07              120        68  ...          0.456438
133661 2024-12               90        54  ...          0.683941
133670 2025-01               51        34  ...          0.257087

                      current_month  ads_revenue_next_month  \
id     current_month
4      2024-12              2024-12                0.004090
6      2025-01              2025-01                0.036284
       2025-02              2025-02                0.106053
       2025-03              2025-03                0.040797
8      2024-12              2024-12                0.126118
...                             ...                     ...
133649 2025-01              2025-01                0.002566
133658 2024-07              2024-07                0.315733
133659 2024-07              2024-07                0.004718
133661 2024-12              2024-12                0.039648
133670 2025-01              2025-01                0.225625

                      revenue_next_month  log_ads_revenue_next_month  \
id     current_month
4      2024-12                       0.0                    0.004081
6      2025-01                       0.0                    0.035641
       2025-02                       0.0                    0.100798
       2025-03                       0.0                    0.039987
8      2024-12                       0.0                    0.118776
...                                  ...                         ...
133649 2025-01                       0.0                    0.002562
133658 2024-07                       0.0                    0.274394
133659 2024-07                       0.0                    0.004707
133661 2024-12                       0.0                    0.038882
133670 2025-01                       0.0                    0.203451

                      log_revenue_next_month  is_active_next_month  \
id     current_month
4      2024-12                           0.0                  True
6      2025-01                           0.0                  True
       2025-02                           0.0                  True
       2025-03                           0.0                  True
8      2024-12                           0.0                  True
...                                      ...                   ...
133649 2025-01                           0.0                  True
133658 2024-07                           0.0                  True
133659 2024-07                           0.0                  True
133661 2024-12                           0.0                  True
133670 2025-01                           0.0                  True

                      months_after_reg  log_revenue_current_month  \
id     current_month
4      2024-12                       0                   0.000000
6      2025-01                       0                   0.000000
       2025-02                       1                   0.000000
       2025-03                       2                   0.000000
8      2024-12                       0                   0.000000
...                                ...                        ...
133649 2025-01                       0                   0.000000
133658 2024-07                       0                   0.869618
133659 2024-07                       0                   0.000000
133661 2024-12                       0                   0.000000
133670 2025-01                       0                   0.000000

                      log_ads_revenue_current_month
id     current_month
4      2024-12                             0.074469
6      2025-01                             0.000000
       2025-02                             0.035641
       2025-03                             0.100798
8      2024-12                             0.103110
...                                             ...
133649 2025-01                             0.066358
133658 2024-07                             1.489761
133659 2024-07                             0.015720
133661 2024-12                             1.001104
133670 2025-01                             1.155062

[59296 rows x 31 columns]

In [112]:
outliers_ads_rev_next_month = outliers_robust_z(has_ads_revenue_next_month['log_ads_revenue_next_month'], k=3.5)

outliers_ads_rev_next_month

MultiIndex([(    10, '2025-03'),
            (   276, '2025-03'),
            (   276, '2025-02'),
            (   293, '2024-11'),
            (   300, '2025-03'),
            (   311, '2024-07'),
            (   348, '2024-08'),
            (   353, '2025-03'),
            (   358, '2024-10'),
            (   404, '2025-02'),
            ...
            (133458, '2024-09'),
            (133458, '2024-08'),
            (133458, '2024-07'),
            (133485, '2024-10'),
            (133485, '2024-09'),
            (133497, '2025-03'),
            (133553, '2025-03'),
            (133555, '2024-08'),
            (133584, '2024-09'),
            (133591, '2024-10')],
           names=['id', 'current_month'], length=6596)

In [113]:
clean2 = clean1#.drop(outliers_ads_rev_next_month)

In [114]:
clean2

                          id  logins_current_month  country traffic_type  \
id     current_month
1      2024-07             1                    13       81         paid
       2024-09             1                     1       81         paid
2      2024-10             2                     1      193         paid
3      2024-12             3                     7      180         paid
       2025-01             3                     2      180         paid
...                      ...                   ...      ...          ...
133672 2025-01        133672                     2      173         paid
133673 2024-10        133673                    14       49         paid
133674 2025-01        133674                     1      208         paid
       2024-07        133674                     2      208         paid
       2024-11        133674                     3      208         paid

                     platform  ads_shown_current_month  \
id     current_month
1      2024-07            iOS                      100
       2024-09            iOS                        1
2      2024-10        Android                        0
3      2024-12        Android                        0
       2025-01        Android                        0
...                       ...                      ...
133672 2025-01        Android                        0
133673 2024-10        Android                       32
133674 2025-01        Android                        0
       2024-07        Android                        2
       2024-11        Android                        0

                      ads_revenue_current_month  revenue_current_month  \
id     current_month
1      2024-07                        21.373946               23.33529
       2024-09                         0.867439                8.87251
2      2024-10                         0.000000                0.00000
3      2024-12                         0.000000                0.00000
       2025-01                         0.000000                0.00000
...                                         ...                    ...
133672 2025-01                         0.000000                0.00000
133673 2024-10                         0.042859                0.00000
133674 2025-01                         0.000000                0.00000
       2024-07                         0.137498                0.00000
       2024-11                         0.000000                0.00000

                      games_pvp  wins_pvp  ...  current_avg_ping  \
id     current_month                       ...
1      2024-07              265       205  ...          0.275935
       2024-09               18         7  ...          0.263144
2      2024-10                0         0  ...          0.000000
3      2024-12               26        20  ...          0.430013
       2025-01                1         0  ...          0.374937
...                         ...       ...  ...               ...
133672 2025-01                9         2  ...          0.223729
133673 2024-10              161        90  ...          0.359385
133674 2025-01                0         0  ...          0.000000
       2024-07                5         1  ...          0.151158
       2024-11                7         1  ...          0.227887

                      current_month  ads_revenue_next_month  \
id     current_month
1      2024-07              2024-07                     0.0
       2024-09              2024-09                     0.0
2      2024-10              2024-10                     0.0
3      2024-12              2024-12                     0.0
       2025-01              2025-01                     0.0
...                             ...                     ...
133672 2025-01              2025-01                     0.0
133673 2024-10              2024-10                     0.0
133674 2025-01              2025-01                     0.0
       2024-07              2024-07                     0.0
       2024-11              2024-11                     0.0

                      revenue_next_month  log_ads_revenue_next_month  \
id     current_month
1      2024-07                       0.0                         0.0
       2024-09                       0.0                         0.0
2      2024-10                       0.0                         0.0
3      2024-12                       0.0                         0.0
       2025-01                       0.0                         0.0
...                                  ...                         ...
133672 2025-01                       0.0                         0.0
133673 2024-10                       0.0                         0.0
133674 2025-01                       0.0                         0.0
       2024-07                       0.0                         0.0
       2024-11                       0.0                         0.0

                      log_revenue_next_month  is_active_next_month  \
id     current_month
1      2024-07                           0.0                 False
       2024-09                           0.0                 False
2      2024-10                           0.0                 False
3      2024-12                           0.0                  True
       2025-01                           0.0                 False
...                                      ...                   ...
133672 2025-01                           0.0                 False
133673 2024-10                           0.0                 False
133674 2025-01                           0.0                 False
       2024-07                           0.0                 False
       2024-11                           0.0                 False

                      months_after_reg  log_revenue_current_month  \
id     current_month
1      2024-07                       1                   3.191928
       2024-09                       3                   2.289754
2      2024-10                       4                   0.000000
3      2024-12                       0                   0.000000
       2025-01                       1                   0.000000
...                                ...                        ...
133672 2025-01                       1                   0.000000
133673 2024-10                       0                   0.000000
133674 2025-01                       8                   0.000000
       2024-07                       2                   0.000000
       2024-11                       6                   0.000000

                      log_ads_revenue_current_month
id     current_month
1      2024-07                             3.107897
       2024-09                             0.624568
2      2024-10                             0.000000
3      2024-12                             0.000000
       2025-01                             0.000000
...                                             ...
133672 2025-01                             0.000000
133673 2024-10                             0.041966
133674 2025-01                             0.000000
       2024-07                             0.128831
       2024-11                             0.000000

[196882 rows x 31 columns]

In [115]:
clean2.to_csv('task_g/training.csv', index=False)

### Агрегация по стране

In [116]:
df = clean2

agg_df = df.groupby('country', as_index=False).agg(
    log_revenue_next_month = ('log_revenue_next_month', 'sum'),
    log_revenue_next_month_count = ('log_revenue_next_month', 'count')
)

agg_df

     country  log_revenue_next_month  log_revenue_next_month_count
0          1              307.550159                          1172
1          2                0.000000                             9
2          3                0.000000                            20
3          4                0.000000                             2
4          5              482.837629                          1213
..       ...                     ...                           ...
201      204               21.155076                           113
202      205               30.323826                            56
203      206                0.000000                             2
204      207               11.677975                            82
205      208              478.162608                          3057

[206 rows x 3 columns]

### Сбалансированность классов

In [117]:
clean2.groupby('is_active_next_month', as_index=False).agg( count = ('id', 'count') )

   is_active_next_month   count
0                 False  117722
1                  True   79160